
@{
    Layout = "~/Views/Shared/Master.cshtml";
} 

<h1>Welcome Home!</h1>


@section RHS{
    <h2>For RHS From Index</h2>
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
}

<h2>This UI for No Reason</h2>