<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>secondapp</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  	<servlet>
  		<servlet-name>KuchBhi</servlet-name>
  		<servlet-class>com.sunbeam.FruitDbXmlConfServlet</servlet-class>
  		<init-param>
  			<param-name>db.driver</param-name>
  			<param-value>com.mysql.cj.jdbc.Driver</param-value>
  		</init-param>
  		<init-param>
  			<param-name>db.url</param-name>
  			<param-value>jdbc:mysql://localhost:3306/dacdb</param-value>
  		</init-param>
  		<init-param>
  			<param-name>db.user</param-name>
  			<param-value>nilesh</param-value>
  		</init-param>
  		<init-param>
  			<param-name>db.passwd</param-name>
  			<param-value>nilesh</param-value>
  		</init-param>
  		<init-param>
  			<param-name>theme</param-name>
  			<param-value>yellow</param-value>
  		</init-param>
  		<!-- if servlet is to be eager loaded... -->
  		<load-on-startup>2</load-on-startup>
  	</servlet>
	<servlet-mapping>
		<servlet-name>KuchBhi</servlet-name>
		<url-pattern>/fruitdbxml</url-pattern>
	</servlet-mapping>

  	<servlet>
  		<servlet-name>LastSamurai</servlet-name>
  		<servlet-class>com.sunbeam.LastServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
		<servlet-name>LastSamurai</servlet-name>
		<url-pattern>/goodbye</url-pattern>
	</servlet-mapping>
</web-app>
