<html>
    <head>
        <title>Create New Record</title>
    </head>
    <body>
        <form action="/Home/Create" method="post">
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="Name" />
                </td>
            </tr>

            <tr>
                <td>Address</td>
                <td>
                    <input type="text" name="Address" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Add Record" />
                </td>
            </tr>
        </table>
    </form>
    </body>
</html>