<html>
<head>
    <title>Login!</title>
</head>
<body>
    <form action="/Login/SignIn" method="post">
       <center>
            <table>
                <tr>
                    <td>User Name</td>
                    <td>
                        <input type="text" name="UserName" />
                    </td>
                </tr>

                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" name="Password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Sign In" />
                    </td>
                </tr>
            </table>
            <hr />
            <div style="color:red">
                @ViewBag.Message
            </div>
       </center>
    </form>
</body>
</html>