@model _000DemoMVC.Models.Emp
<html>
    <head>
        <title>Demo MVC</title>
    </head>
    <body>
        <h1>Welcome to MVC Core</h1>

    <h2>No is @Model.No</h2>
        <h2>Name is @Model.Name</h2>
    <h2>Address is @Model.Address</h2>
    </body>
</html>