<html>
    <head>
        <title>
            Test - Index
        </title>
    </head>
    <body>
   <div style="text-align: right; margin: 30px">
        <h1>Welcome @ViewBag.UserName</h1>
        <a href="/Login/LogOut">Log out</a>
   </div>
        <h1>This is very very safe page!</h1>
    </body>
</html>